In [87]:
# Meghan Flaherty: DATA311
# lab 1 NOAA- notebook 2 
# Amount of times bellingham has been overcast in 2020 by hour
#
# worked with Arvind Ramesh for all notebooks in the lab.
#    all lines of code were written together, so all basic logic and technique will be the same
#    some variable names and formats for how the code is written may be different between our submissions
import pandas as pd

bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')

C:\Users\Meghan\AppData\Local\Temp\ipykernel_24720\1925170515.py:5: DtypeWarning: Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.
  bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')

In [166]:
# isolate date, report type, & HSC columns  
# drop all NaN values from df + convert to str
bham= bellingham[['DATE', 'REPORT_TYPE','HourlySkyConditions']].dropna().astype('string')

    # access only january rows & drop NaN values
jan = bham[bham['DATE'].str.contains('2020-01')].dropna()  
    # access only HSC that list OVC
jan = jan[jan['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
jan = jan[jan['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
jan = jan['HourlySkyConditions'].value_counts().dropna() 
    # get length
jan = len(jan)

In [167]:
feb = bham[bham['DATE'].str.contains('2020-02')].dropna()  
    # access only HSC that list OVC
feb = feb[feb['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
feb = feb[feb['REPORT_TYPE']=='FM-15'] 
    # count occurences of OVC in jan 
feb = feb['HourlySkyConditions'].value_counts().dropna() 
feb = len(feb)

In [168]:
mar = bham[bham['DATE'].str.contains('2020-03')].dropna()  
    # access only HSC that list OVC
mar = mar[mar['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
mar = mar[mar['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
mar = mar['HourlySkyConditions'].value_counts().dropna() 
mar = len(mar)

In [169]:
apr = bham[bham['DATE'].str.contains('2020-04')].dropna()  
    # access only HSC that list OVC
apr = apr[apr['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
apr = apr[apr['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
apr = apr['HourlySkyConditions'].value_counts().dropna() 
apr = len(apr)

In [170]:
may = bham[bham['DATE'].str.contains('2020-05')].dropna()  
    # access only HSC that list OVC
may = may[may['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
may = may[may['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
may = may['HourlySkyConditions'].value_counts().dropna() 
may = len(may)

In [171]:
jun = bham[bham['DATE'].str.contains('2020-06')].dropna()  
    # access only HSC that list OVC
jun = jun[jun['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
jun = jun[jun['REPORT_TYPE']=='FM-15'] 
    # count occurences of OVC in jan 
jun = jun['HourlySkyConditions'].value_counts().dropna() 
jun = len(jun)

In [172]:
jul = bham[bham['DATE'].str.contains('2020-07')].dropna()  
    # access only HSC that list OVC
jul = jul[jul['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
jul = jul[jul['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
jul = jul['HourlySkyConditions'].value_counts().dropna() 
jul = len(jul)

In [173]:
aug = bham[bham['DATE'].str.contains('2020-08')].dropna()  
    # access only HSC that list OVC
aug = aug[aug['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
aug = aug[aug['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
aug = aug['HourlySkyConditions'].value_counts().dropna() 
aug = len(aug)

In [174]:
sep = bham[bham['DATE'].str.contains('2020-09')].dropna()  
    # access only HSC that list OVC
sep = sep[sep['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
sep = sep[sep['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
sep = sep['HourlySkyConditions'].value_counts().dropna() 
sep = len(sep)

In [175]:
octo = bham[bham['DATE'].str.contains('2020-10')].dropna()  
    # access only HSC that list OVC
octo = octo[octo['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
octo = octo[octo['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
octo = octo['HourlySkyConditions'].value_counts().dropna() 
octo = len(octo)

In [176]:
nov = bham[bham['DATE'].str.contains('2020-11')].dropna()  
    # access only HSC that list OVC
nov = nov[nov['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
nov = nov[nov['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
nov = nov['HourlySkyConditions'].value_counts().dropna() 
nov = len(nov)

In [177]:
dec = bham[bham['DATE'].str.contains('2020-12')].dropna()  
    # access only HSC that list OVC
dec = dec[dec['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
dec = dec[dec['REPORT_TYPE']=='FM-15']  
    # count occurences of OVC in jan 
dec = dec['HourlySkyConditions'].value_counts().dropna() 
dec = len(dec)

In [178]:
# create final data frame & fill with values 
data = {"Month": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct', 'Nov', 'Dec'],
            'Mean Overcast Occurences': [jan,feb,mar,apr,may,jun,jul,aug,sep,octo,nov,dec]}
df = pd.DataFrame(data)
# sort data frame in descending order based on the OVC values
df.sort_values(by='Mean Overcast Occurences', ascending=False)

   Month  Mean Overcast Occurences
0    Jan                       329
10   Nov                       259
11   Dec                       253
1    Feb                       240
2    Mar                       207
9    Oct                       191
5    Jun                       177
4    May                       162
3    Apr                       151
8    Sep                       147
6    Jul                       141
7    Aug                        86