In [67]:
import pandas as pd

# Determine which of the provided cities was the rainiest in 2020
# Read all the csv files to use and access
az = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/AZ_Phoenix.csv')
la = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_LosAngeles.csv') 
sf = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_SanFrancisco.csv')
dn = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CO_Denver.csv')
jv = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/FL_Jacksonville.csv')
at = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/GA_Atlanta.csv')
chi = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/IL_Chicago.csv')
bos = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/MA_Boston.csv')
min = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/MN_MinneapolisStPaul.csv')
ith = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_Ithaca.csv')
nyc = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_NewYorkJFK.csv')
por = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/OR_Portland.csv')
phil = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/PA_Philadelphia.csv')
dal = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/TX_DallasFtWorth.csv')
salt = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/UT_SaltLake.csv')
dull = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/VA_WashingtonDulles.csv')
bell = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')
sea = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Seattle.csv')

/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:5: DtypeWarning: Columns (42,52,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  az = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/AZ_Phoenix.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:6: DtypeWarning: Columns (43,51,56,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  la = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_LosAngeles.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:7: DtypeWarning: Columns (51,52,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  sf = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_SanFrancisco.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:8: DtypeWarning: Columns (41,49,51,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  dn = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CO_Denver.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:9: DtypeWarning: Columns (41,42,51) have mixed types. Specify dtype option on import or set low_memory=False.
  jv = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/FL_Jacksonville.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:10: DtypeWarning: Columns (43,49,75) have mixed types. Specify dtype option on import or set low_memory=False.
  at = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/GA_Atlanta.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:11: DtypeWarning: Columns (33,75) have mixed types. Specify dtype option on import or set low_memory=False.
  chi = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/IL_Chicago.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:13: DtypeWarning: Columns (33,34,41,51,52,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  min = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/MN_MinneapolisStPaul.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:14: DtypeWarning: Columns (43,49) have mixed types. Specify dtype option on import or set low_memory=False.
  ith = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_Ithaca.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:15: DtypeWarning: Columns (41,42,43,56,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_NewYorkJFK.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:16: DtypeWarning: Columns (33,34,56,73,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  por = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/OR_Portland.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:17: DtypeWarning: Columns (33,41,42,43,49,52,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  phil = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/PA_Philadelphia.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:18: DtypeWarning: Columns (34,43,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  dal = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/TX_DallasFtWorth.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:19: DtypeWarning: Columns (43,49,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  salt = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/UT_SaltLake.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:20: DtypeWarning: Columns (41,43,49,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  dull = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/VA_WashingtonDulles.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:21: DtypeWarning: Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.
  bell = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')
/var/folders/dt/4x8djc_n037fj7m_17pj_0hr0000gn/T/ipykernel_41622/3905864191.py:22: DtypeWarning: Columns (33,34,41,42,43,49,51,56,73,89) have mixed types. Specify dtype option on import or set low_memory=False.
  sea = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Seattle.csv')

In [75]:
# Filter out the 'T' and the NaN Values 
df = sea[['HourlyPrecipitation']][sea['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
sea_mean = df.mean()

sea_mean

0.006897765905779505

In [76]:
# Filter out the 'T' and the NaN Values 
df = az[['HourlyPrecipitation']][az['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
az_mean = df.mean()

az_mean

0.001153626499143347

In [77]:
# Filter out the 'T' and the NaN Values 
df = la[['HourlyPrecipitation']][la['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
la_mean = df.mean()

la_mean

0.0019286040145985403

In [78]:
# Filter out the 'T' and the NaN Values 
df = sf[['HourlyPrecipitation']][sf['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
sf_mean = df.mean()

sf_mean

0.0008885559525181515

In [79]:
# Filter out the 'T' and the NaN Values 
df = dn[['HourlyPrecipitation']][dn['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
dn_mean = df.mean()

dn_mean

0.0018161925601750549

In [80]:
# Filter out the 'T' and the NaN Values 
df = jv[['HourlyPrecipitation']][jv['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
jv_mean = df.mean()

jv_mean

0.014174386289949052

In [81]:
# Filter out the 'T' and the NaN Values 
df = at[['HourlyPrecipitation']][at['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
at_mean = df.mean()

at_mean

0.015073537795006272

In [82]:
# Filter out the 'T' and the NaN Values 
df = chi[['HourlyPrecipitation']][chi['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
chi_mean = df.mean()

chi_mean

0.00985991127714219

In [84]:
# Filter out the 'T' and the NaN Values 
df = bos[['HourlyPrecipitation']][bos['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
bos_mean = df.mean()

bos_mean

0.007871998161553486

In [85]:
# Filter out the 'T' and the NaN Values 
df = min[['HourlyPrecipitation']][min['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
min_mean = df.mean()

min_mean

0.007652667423382518

In [86]:
# Filter out the 'T' and the NaN Values 
df = ith[['HourlyPrecipitation']][ith['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
ith_mean = df.mean()

ith_mean

0.041100123609394315

In [87]:
# Filter out the 'T' and the NaN Values 
df = nyc[['HourlyPrecipitation']][nyc['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
nyc_mean = df.mean()

nyc_mean

0.0073756264515340425

In [88]:
# Filter out the 'T' and the NaN Values 
df = por[['HourlyPrecipitation']][por['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
por_mean = df.mean()

por_mean

0.0053001589436361424

In [89]:
# Filter out the 'T' and the NaN Values 
df = phil[['HourlyPrecipitation']][phil['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
phil_mean = df.mean()

phil_mean

0.012726868327402137

In [94]:
# Filter out the 'T' and the NaN Values 
df = dal[['HourlyPrecipitation']][dal['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
dal_mean = df.mean()

dal_mean

0.010049317582291547

In [90]:
# Filter out the 'T' and the NaN Values 
df = salt[['HourlyPrecipitation']][salt['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
salt_mean = df.mean()

salt_mean

0.0017675883794189711

In [91]:
# Filter out the 'T' and the NaN Values 
df = dull[['HourlyPrecipitation']][dull['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
dull_mean = df.mean()

dull_mean

0.0106395881006865

In [92]:
# Filter out the 'T' and the NaN Values 
df = bell[['HourlyPrecipitation']][bell['HourlyPrecipitation']!='T'].dropna()

# Replace the s values with nothing
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace("s", "")

# Convert data values to int
df = pd.to_numeric(df['HourlyPrecipitation'])

# Calculate the mean
bell_mean = df.mean()

bell_mean

0.007003003003003004

In [100]:
# Put all the data into a data frame and organize it by descending order

data = {'City': ['Arizona','Los Angeles','San Francisco','Denver', 'Jacksonville', 'Atlanta', 'Chicago', 'Boston', 'Minnesota', 'Ithaca', 'New York', 'Portland', 'Philadelphia', 'Dallas', 'Salt Lake City', 'Washington Dulles', 'Bellingham', 'Seattle'], 
        'Mean Precipitation Value': [az_mean,la_mean,sf_mean,dn_mean,jv_mean,at_mean,chi_mean,bos_mean,min_mean,ith_mean,nyc_mean,por_mean,phil_mean,dal_mean,salt_mean,dull_mean,bell_mean,sea_mean] }
final_df = pd.DataFrame(data)

final_df.sort_values(by='Mean Precipitation Value', ascending=False)

                 City  Mean Precipitation Value
9              Ithaca                  0.041100
5             Atlanta                  0.015074
4        Jacksonville                  0.014174
12       Philadelphia                  0.012727
15  Washington Dulles                  0.010640
13             Dallas                  0.010049
6             Chicago                  0.009860
7              Boston                  0.007872
8           Minnesota                  0.007653
10           New York                  0.007376
16         Bellingham                  0.007003
17            Seattle                  0.006898
11           Portland                  0.005300
1         Los Angeles                  0.001929
3              Denver                  0.001816
14     Salt Lake City                  0.001768
0             Arizona                  0.001154
2       San Francisco                  0.000889