In [87]:
# lab 1 pt.2 
# amount of times bellingham has been overcast in 2020 by hour
# should the code work for any of csv files - loading in values into the df, or writing code that fills the data frame

import pandas as pd

bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')

C:\Users\Meghan\AppData\Local\Temp\ipykernel_24720\1925170515.py:5: DtypeWarning: Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.
  bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')

In [129]:

# isolate date, report type, & HSC columns  
# dropna() drops all NaN values from df
bham= bellingham[['DATE', 'REPORT_TYPE','HourlySkyConditions']].dropna().astype('string')

    # access only january rows & drop NaN values
jan = bham[bham['DATE'].str.contains('2020-01')].dropna()  
    # access only HSC that list OVC
jan = jan[jan['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
jan = jan[jan['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
jan = jan['HourlySkyConditions'].value_counts().dropna() 
jan = len(jan)

print(jan)

459

In [130]:
feb = bham[bham['DATE'].str.contains('2020-02')].dropna()  
    # access only HSC that list OVC
feb = feb[feb['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
feb = feb[feb['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
feb = feb['HourlySkyConditions'].value_counts().dropna() 
feb = len(feb)

print(feb)

352

In [131]:
mar = bham[bham['DATE'].str.contains('2020-03')].dropna()  
    # access only HSC that list OVC
mar = mar[mar['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
mar = mar[mar['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
mar = mar['HourlySkyConditions'].value_counts().dropna() 
mar = len(mar)

print(mar)

285

In [132]:
apr = bham[bham['DATE'].str.contains('2020-04')].dropna()  
    # access only HSC that list OVC
apr = apr[apr['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
apr = apr[apr['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
apr = apr['HourlySkyConditions'].value_counts().dropna() 
apr = len(apr)

print(apr)

200

In [141]:
may = bham[bham['DATE'].str.contains('2020-05')].dropna()  
    # access only HSC that list OVC
may = may[may['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
may = may[may['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
may = may['HourlySkyConditions'].value_counts().dropna() 
may = len(may)

print(may)

208

In [142]:
jun = bham[bham['DATE'].str.contains('2020-06')].dropna()  
    # access only HSC that list OVC
jun = jun[jun['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
jun = jun[jun['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
jun = jun['HourlySkyConditions'].value_counts().dropna() 
jun = len(jun)

print(jun)

223

In [143]:
jul = bham[bham['DATE'].str.contains('2020-07')].dropna()  
    # access only HSC that list OVC
jul = jul[jul['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
jul = jul[jul['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
jul = jul['HourlySkyConditions'].value_counts().dropna() 
jul = len(jul)

print(jul)

178

In [144]:
aug = bham[bham['DATE'].str.contains('2020-08')].dropna()  
    # access only HSC that list OVC
aug = aug[aug['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
aug = aug[aug['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
aug = aug['HourlySkyConditions'].value_counts().dropna() 
aug = len(aug)

print(aug)

102

In [145]:
sep = bham[bham['DATE'].str.contains('2020-09')].dropna()  
    # access only HSC that list OVC
sep = sep[sep['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
sep = sep[sep['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
sep = sep['HourlySkyConditions'].value_counts().dropna() 
sep = len(sep)

print(sep)

221

In [146]:
octo = bham[bham['DATE'].str.contains('2020-10')].dropna()  
    # access only HSC that list OVC
octo = octo[octo['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
octo = octo[octo['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
octo = octo['HourlySkyConditions'].value_counts().dropna() 
octo = len(octo)

print(octo)

256

In [147]:
nov = bham[bham['DATE'].str.contains('2020-11')].dropna()  
    # access only HSC that list OVC
nov = nov[nov['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
nov = nov[nov['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
nov = nov['HourlySkyConditions'].value_counts().dropna() 
nov = len(nov)

print(nov)

366

In [148]:
dec = bham[bham['DATE'].str.contains('2020-12')].dropna()  
    # access only HSC that list OVC
dec = dec[dec['HourlySkyConditions'].str.contains('OVC')]
    # access only FM rows
dec = dec[dec['REPORT_TYPE'].str.contains('FM')]  
    # count occurences of OVC in jan 
dec = dec['HourlySkyConditions'].value_counts().dropna() 
dec = len(dec)

print(dec)

353

In [151]:

data = {"Month": ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct', 'Nov', 'Dec'],
            'Overcast value': [jan,feb,mar,apr,may,jun,jul,aug,sep,octo,nov,dec]}
df = pd.DataFrame(data)

df.sort_values(by='Overcast value', ascending=False)

# jan 459
# feb 352
# mar 285
# apr 200
# may 208
# jun 223
# jul 178
# aug 102
# sep 221
# oct 256
# nov 366
# dec 353

   Month  Overcast value
0    Jan             459
10   Nov             366
11   Dec             353
1    Feb             352
2    Mar             285
9    Oct             256
5    Jun             223
8    Sep             221
4    May             208
3    Apr             200
6    Jul             178
7    Aug             102