In [109]:
# Meghan Flaherty: DATA311
# lab 1 NOAA- notebook 4 
# comparing visibility of 5 cities on the west coast based on hourly reports
# 
# worked with Arvind Ramesh for all notebooks in the lab.
#    all lines of code were written together, so all basic logic and technique will be the same
#    some variable names and formats for how the code is written may be different between our submissions

import pandas as pd

losAngeles = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_LosAngeles.csv')
sanFrancisco = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_SanFrancisco.csv')
portland = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/OR_Portland.csv')
bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')
seattle = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Seattle.csv')

C:\Users\Meghan\AppData\Local\Temp\ipykernel_26988\2709058063.py:7: DtypeWarning: Columns (43,51,56,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  losAngeles = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_LosAngeles.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_26988\2709058063.py:8: DtypeWarning: Columns (51,52,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  sanFrancisco = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_SanFrancisco.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_26988\2709058063.py:9: DtypeWarning: Columns (33,34,56,73,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  portland = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/OR_Portland.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_26988\2709058063.py:10: DtypeWarning: Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.
  bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_26988\2709058063.py:11: DtypeWarning: Columns (33,34,41,42,43,49,51,56,73,89) have mixed types. Specify dtype option on import or set low_memory=False.
  seattle = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Seattle.csv')

In [154]:
# get only report type and HV columns
losAng = losAngeles[['REPORT_TYPE','HourlyVisibility']].dropna()
sanFra = sanFrancisco[['REPORT_TYPE','HourlyVisibility']].dropna()
port = portland[['REPORT_TYPE','HourlyVisibility']].dropna()
bham = bellingham[['REPORT_TYPE','HourlyVisibility']].dropna()
sea = seattle[['REPORT_TYPE','HourlyVisibility']].dropna()

In [155]:
# LOS ANGELES
# get only hourly reports
losAng = losAngeles[losAngeles['REPORT_TYPE']=='FM-15']
# replace 'V' values with 0
losAng_mean = pd.to_numeric(losAng['HourlyPrecipitation'], errors = 'coerce').fillna(0).mean()

In [156]:
# SAN FRANCISCO
# get only hourly reports
sanFra = sanFrancisco[sanFrancisco['REPORT_TYPE']=='FM-15']
# replace 'V' values with 0
sanFra_mean = pd.to_numeric(sanFra['HourlyPrecipitation'], errors = 'coerce').fillna(0).mean()

In [157]:
# PORTLAND
# get only hourly reports
port = portland[portland['REPORT_TYPE']=='FM-15']
# replace 'V' values with 0
port_mean = pd.to_numeric(port['HourlyPrecipitation'], errors = 'coerce').fillna(0).mean()

In [158]:
# BELLINGHAM
# get only hourly reports
bham = bellingham[bellingham['REPORT_TYPE']=='FM-15']
# replace 'V' values with 0
bham_mean = pd.to_numeric(bham['HourlyPrecipitation'], errors = 'coerce').fillna(0).mean()

In [159]:
# SEATTLE
# get only hourly reports
sea = seattle[seattle['REPORT_TYPE']=='FM-15']
# replace 'V' values with 0
sea_mean = pd.to_numeric(sea['HourlyPrecipitation'], errors = 'coerce').fillna(0).mean()

In [160]:
# creating final data frame & fill with values
data = {'City': ['Los Angeles','San Francisco','Portland','Bellingham','Seattle'],
        'Mean Hourly Visibility': [losAng_mean,sanFra_mean,port_mean,bham_mean,sea_mean]}
df = pd.DataFrame(data)
# sort in descending order
df.sort_values(by='Mean Hourly Visibility', ascending=False)

            City  Mean Hourly Visibility
4        Seattle                0.004624
3     Bellingham                0.004562
2       Portland                0.003607
0    Los Angeles                0.000982
1  San Francisco                0.000635