In [70]:
# Meghan Flaherty: DATA311
# lab 1 NOAA- notebook 1 
# determine which of the provided cities was the rainiest in 2020
#
# worked with Arvind Ramesh for all notebooks in the lab.
#    all lines of code were written together, so all basic logic and technique will be the same
#    some variable names and formats for how the code is written may be different between our submissions
import pandas as pd

# reading all csv files for weather data
phoenix = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/AZ_Phoenix.csv')
losAngeles = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_LosAngeles.csv')
sanFrancisco = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_SanFrancisco.csv')
denver = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CO_Denver.csv')
jacksonville = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/FL_Jacksonville.csv')
atlanta = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/GA_Atlanta.csv')
chicago = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/IL_Chicago.csv')
boston = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/MA_Boston.csv')
minneapolis = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/MN_MinneapolisStPaul.csv')
ithaca = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_Ithaca.csv')
newYork = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_NewYorkJFK.csv')
portland = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/OR_Portland.csv')
philadelphia = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/PA_Philadelphia.csv')
dallas = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/TX_DallasFtWorth.csv')
saltLake = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/UT_SaltLake.csv')
dulles = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/VA_WashingtonDulles.csv')
bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')
seattle = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Seattle.csv')

C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:8: DtypeWarning: Columns (42,52,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  phoenix = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/AZ_Phoenix.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:9: DtypeWarning: Columns (43,51,56,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  losAngeles = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_LosAngeles.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:10: DtypeWarning: Columns (51,52,71,88) have mixed types. Specify dtype option on import or set low_memory=False.
  sanFrancisco = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CA_SanFrancisco.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:11: DtypeWarning: Columns (41,49,51,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  denver = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/CO_Denver.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:12: DtypeWarning: Columns (41,42,51) have mixed types. Specify dtype option on import or set low_memory=False.
  jacksonville = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/FL_Jacksonville.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:13: DtypeWarning: Columns (43,49,75) have mixed types. Specify dtype option on import or set low_memory=False.
  atlanta = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/GA_Atlanta.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:14: DtypeWarning: Columns (33,75) have mixed types. Specify dtype option on import or set low_memory=False.
  chicago = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/IL_Chicago.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:16: DtypeWarning: Columns (33,34,41,51,52,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  minneapolis = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/MN_MinneapolisStPaul.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:17: DtypeWarning: Columns (43,49) have mixed types. Specify dtype option on import or set low_memory=False.
  ithaca = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_Ithaca.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:18: DtypeWarning: Columns (41,42,43,56,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  newYork = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/NY_NewYorkJFK.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:19: DtypeWarning: Columns (33,34,56,73,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  portland = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/OR_Portland.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:20: DtypeWarning: Columns (33,41,42,43,49,52,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  philadelphia = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/PA_Philadelphia.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:21: DtypeWarning: Columns (34,43,75,76,89) have mixed types. Specify dtype option on import or set low_memory=False.
  dallas = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/TX_DallasFtWorth.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:22: DtypeWarning: Columns (43,49,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  saltLake = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/UT_SaltLake.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:23: DtypeWarning: Columns (41,43,49,75,89) have mixed types. Specify dtype option on import or set low_memory=False.
  dulles = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/VA_WashingtonDulles.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:24: DtypeWarning: Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.
  bellingham = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Bellingham.csv')
C:\Users\Meghan\AppData\Local\Temp\ipykernel_15188\609951231.py:25: DtypeWarning: Columns (33,34,41,42,43,49,51,56,73,89) have mixed types. Specify dtype option on import or set low_memory=False.
  seattle = pd.read_csv('https://facultyweb.cs.wwu.edu/~hutchib2/spr22/data311/lab1/WA_Seattle.csv')

In [136]:
# SEATTLE
s = seattle[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
sea = s[s['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
sea['HourlyPrecipitation'] = sea['HourlyPrecipitation'].str.replace("s", "")
sea['HourlyPrecipitation'] = sea['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
sea = pd.to_numeric(sea['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
seattle_mean = sea.mean()

0.004889784309077981

In [139]:
# PHOENIX
ph = phoenix[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
phx = ph[ph['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
phx['HourlyPrecipitation'] = phx['HourlyPrecipitation'].str.replace("s", "")
phx['HourlyPrecipitation'] = phx['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
phx = pd.to_numeric(phx['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
phoenix_mean = phx.mean()

0.0005699954400364798

In [140]:
# LOS ANGELES
los = losAngeles[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
losAng = los[los['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
losAng['HourlyPrecipitation'] = losAng['HourlyPrecipitation'].str.replace("s", "")
losAng['HourlyPrecipitation'] = losAng['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
losAng = pd.to_numeric(losAng['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
losAngeles_mean = losAng.mean()

0.001029612756264237

In [141]:
# SAN FRANCISCO 
san = sanFrancisco[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
sanF = san[san['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
sanF['HourlyPrecipitation'] = sanF['HourlyPrecipitation'].str.replace("s", "")
sanF['HourlyPrecipitation'] = sanF['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
sanF = pd.to_numeric(sanF['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
sanFrancisco_mean = sanF.mean()

0.0006713254668346889

In [142]:
# DENVER
den = denver[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
denV = den[den['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
denV['HourlyPrecipitation'] = denV['HourlyPrecipitation'].str.replace("s", "")
denV['HourlyPrecipitation'] = denV['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
denV = pd.to_numeric(denV['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
denver_mean = denV.mean()

0.0009957844365956479

In [143]:
# JACKSONVILLE
j = jacksonville[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
jvil = j[j['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
jvil['HourlyPrecipitation'] = jvil['HourlyPrecipitation'].str.replace("s", "")
jvil['HourlyPrecipitation'] = jvil['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
jvil = pd.to_numeric(jvil['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
jacksonville_mean = jvil.mean()

0.0061410550458715595

In [144]:
# ATLANTA
atla = atlanta[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
atl = atla[atla['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
atl['HourlyPrecipitation'] = atl['HourlyPrecipitation'].str.replace("s", "")
atl['HourlyPrecipitation'] = atl['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
atl = pd.to_numeric(atl['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
atlanta_mean = atl.mean()

0.007621326042378675

In [145]:
# CHICAGO
ch = chicago[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
chi = ch[ch['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
chi['HourlyPrecipitation'] = chi['HourlyPrecipitation'].str.replace("s", "")
chi['HourlyPrecipitation'] = chi['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
chi = pd.to_numeric(chi['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
chicago_mean = chi.mean()

0.004444572748267898

In [146]:
# BOSTON
bst = boston[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
bos = bst[bst['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
bos['HourlyPrecipitation'] = bos['HourlyPrecipitation'].str.replace("s", "")
bos['HourlyPrecipitation'] = bos['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
bos = pd.to_numeric(bos['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
boston_mean = bos.mean()

0.004151093892433911

In [147]:
# MINNEAPOLIS
m = minneapolis[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
minn = m[m['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
minn['HourlyPrecipitation'] = minn['HourlyPrecipitation'].str.replace("s", "")
minn['HourlyPrecipitation'] = minn['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
minn = pd.to_numeric(minn['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
minneapolis_mean = minn.mean()

0.0033481380252818583

In [148]:
# ITHACA
i = ithaca[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
ith = i[i['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
ith['HourlyPrecipitation'] = ith['HourlyPrecipitation'].str.replace("s", "")
ith['HourlyPrecipitation'] = ith['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
ith = pd.to_numeric(ith['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
ithaca_mean = ith.mean()

0.011210977701543738

In [150]:
# NEWYORK
NewY = newYork[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
york = NewY[NewY['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
york['HourlyPrecipitation'] = york['HourlyPrecipitation'].str.replace("s", "")
york['HourlyPrecipitation'] = york['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
york = pd.to_numeric(york['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
newYork_mean = york.mean()

0.004585086489013558

In [151]:
# PORTLAND
po = portland[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
port = po[po['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
port['HourlyPrecipitation'] = port['HourlyPrecipitation'].str.replace("s", "")
port['HourlyPrecipitation'] = port['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
port = pd.to_numeric(port['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
portland_mean = port.mean()

0.003695181683563048

In [152]:
# PHILADELPHIA
phi = philadelphia[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
philly = phi[phi['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
philly['HourlyPrecipitation'] = philly['HourlyPrecipitation'].str.replace("s", "")
philly['HourlyPrecipitation'] = philly['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
philly = pd.to_numeric(philly['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
philadelphia_mean = philly.mean()

0.00566807153434332

In [153]:
# DALLAS
da = dallas[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
dall = da[da['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
dall['HourlyPrecipitation'] = dall['HourlyPrecipitation'].str.replace("s", "")
dall['HourlyPrecipitation'] = dall['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
dall = pd.to_numeric(dall['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
dallas_mean = dall.mean()

0.004979489516864176

In [154]:
# SALTLAKE
saL = saltLake[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
salt = saL[saL['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
salt['HourlyPrecipitation'] = salt['HourlyPrecipitation'].str.replace("s", "")
salt['HourlyPrecipitation'] = salt['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
salt = pd.to_numeric(salt['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
saltLake_mean = salt.mean()

0.0010274599542334096

In [155]:
# DULLES
du = dulles[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
dul = du[du['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
dul['HourlyPrecipitation'] = dul['HourlyPrecipitation'].str.replace("s", "")
dul['HourlyPrecipitation'] = dul['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
dul = pd.to_numeric(dul['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
dulles_mean = dul.mean()

0.005650931535032576

In [156]:
# BELLINGHAM
bell = bellingham[['REPORT_TYPE','HourlyPrecipitation']].dropna()
# get only hourly reports
bham = bell[bell['REPORT_TYPE'].str.contains('FM-15')].dropna()
# replace 's' occurences with blank '' & 'T' with 0
bham['HourlyPrecipitation'] = bham['HourlyPrecipitation'].str.replace("s", "")
bham['HourlyPrecipitation'] = bham['HourlyPrecipitation'].str.replace("T", "0")
# convert Hourly Percipitation column to numeric dtype
bham = pd.to_numeric(bham['HourlyPrecipitation'])
# get mean of Hourly Percipitation for Phoenix
bellingham_mean = bham.mean()

0.0047725950913109225

In [158]:
# creating and filling data frame with mean values 
data = {'City': ['Phoenix','Los Angeles','San Francisco','Denver','Jacksonville','Atlanta','Chicago','Boston','Minneapolis','Ithaca','New York','Portland',
'Philadelphia','Dallas','Salt Lake','Dulles','Bellingham','Seattle'],
'Mean Precipitation Value': [phoenix_mean,losAngeles_mean,sanFrancisco_mean,denver_mean,jacksonville_mean,atlanta_mean,chicago_mean,boston_mean,minneapolis_mean,ithaca_mean,
newYork_mean,portland_mean,philadelphia_mean,dallas_mean,saltLake_mean,dulles_mean,bellingham_mean,seattle_mean]}

mean_df = pd.DataFrame(data)
# sort the data frame in descending order of the mean values
mean_df.sort_values(by='Mean Precipitation Value', ascending=False)

             City  Mean Precipitation Value
9          Ithaca                  0.011211
5         Atlanta                  0.007621
4    Jacksonville                  0.006141
12   Philadelphia                  0.005668
15         Dulles                  0.005651
13         Dallas                  0.004979
17        Seattle                  0.004890
16     Bellingham                  0.004773
10       New York                  0.004585
6         Chicago                  0.004445
7          Boston                  0.004151
11       Portland                  0.003695
8     Minneapolis                  0.003348
1     Los Angeles                  0.001030
14      Salt Lake                  0.001027
3          Denver                  0.000996
2   San Francisco                  0.000671
0         Phoenix                  0.000570